/* Styles for ReactPaginate */

ul[role='navigation'] {
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
  padding-inline-start: 0;
}

ul[role='navigation'] li {
  display: inline-block;

  padding: 0 5px;
  cursor: pointer;
}

li {
  color: #4c77a5;
}

li.selected {
  color: #2e4a78;
  font-weight: 800;
}

li.previous.disabled > a > button,
li.next.disabled > a > button {
  color: #9e9e9e;
}
